doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Amory Manuel')
  title Article Bullet
  // Bootstrap core CSS
  link(href='./vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='./vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='./vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  script(type='text/javascript' src='./scripts/scripts.js')
  // Custom styles for this template
  link(href='./css/landing-page.css' rel='stylesheet')
  
// Navigation
nav.navbar.bg-white.border-bottom.border-dark.static-top(style='border-width:3px!important;')
  .container.container3
    a.navbar-brand(style='color:#000000 !important' href='/')
      img(style='height:60px;margin-top:-3px; padding-right:10px;vertical-align:center;' src='./img/bullet.png')
      | BulletSlides
    div
      if(owner)
        a.btn.btn-primary(href='./editor' style="margin-right:40px") Edit
        a.btn.btn-primary(href='../') Library
        a.btn.btn-danger(href='/logout') Log Out
      else
        a.btn.btn-primary(href='/login') Log In
        a.btn.btn-primary(href='/signup') Sign Up
header.masthead
  .container(style='margin-top:-80px')
    .row
      .col-xl-7.bg-white.mx-auto.border.border-dark.rounded(style='padding:40px 30px 30px; background-color:white!important; border-width:3px!important; margin-bottom:1000px!important')
        if(isEmpty == "false")
          h2(style='margin-left:24px') #{title}
          byline(style='margin-left:24px')
            i #{author}
          hr
          ul(style='text-align:left')
            if(bulletsEmpty == "false")
              each point in bullets
                li= point.content
                  if(point.hasSubpoint == "true")
                    button.drop.invis(type='button')
                      img(src='./svgs/icons/document-text.svg')
                  if(point.hasSubimg == "true")
                    button.dropimg.invis(type='button')
                      img(src='./svgs/icons/image.svg')
                  if(point.hasLink == "true")
                    a(href= point.linktext target='_blank')
                      img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
                  //inner loop 1
                  if(point.hasSubpoint == "true")
                    ul.subpt
                      each subpt1 in point.subpts
                        li= subpt1.content
                          //add icons
                          if(subpt1.hasSubpoint == "true")
                            button.drop.invis(type='button')
                              img(src='./svgs/icons/document-text.svg')
                          if(subpt1.hasSubimg == "true")
                            button.dropimg.invis(type='button')
                              img(src='./svgs/icons/image.svg')
                          if(subpt1.hasLink == "true")
                            a(href= subpt1.linktext target='_blank')
                              img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
                          //inner loop 2
                          if(subpt1.hasSubpoint == "true")
                            ul.subpt
                              each subpt2 in subpt1.subpts
                                li= subpt2.content
                                  //add icons
                                  if(subpt2.hasSubpoint == "true")
                                    button.drop.invis(type='button')
                                      img(src='./svgs/icons/document-text.svg')
                                  if(subpt2.hasSubimg == "true")
                                    button.dropimg.invis(type='button')
                                      img(src='./svgs/icons/image.svg')
                                  if(subpt2.hasLink == "true")
                                    a(href= subpt2.linktext target='_blank')
                                      img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
                                  //inner loop 3
                                  if(subpt2.hasSubpoint == "true")
                                    ul.subpt
                                      each subpt3 in subpt2.subpts
                                        li= subpt3.content
                                          //add icons
                                          if(subpt3.hasSubpoint == "true")
                                            button.drop.invis(type='button')
                                              img(src='./svgs/icons/document-text.svg')
                                          if(subpt3.hasSubimg == "true")
                                            button.dropimg.invis(type='button')
                                              img(src='./svgs/icons/image.svg')
                                          if(subpt3.hasLink == "true")
                                            a(href= subpt3.linktext target='_blank')
                                              img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
                                          //inner loop 4
                                          if(subpt3.hasSubpoint == "true")
                                            ul.subpt
                                              each subpt4 in subpt3.subpts
                                                li= subpt4.content
                                                  //add icons
                                                  if(subpt4.hasSubpoint == "true")
                                                    button.drop.invis(type='button')
                                                      img(src='./svgs/icons/document-text.svg')
                                                  if(subpt4.hasSubimg == "true")
                                                    button.dropimg.invis(type='button')
                                                      img(src='./svgs/icons/image.svg')
                                                  if(subpt4.hasLink == "true")
                                                    a(href= subpt4.linktext target='_blank')
                                                      img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
footer.footer
  .container
    .row
      .col-lg-6.h-100.text-center.text-lg-left.my-auto
        ul.list-inline.mb-2
          li.list-inline-item
            a(href='#') About
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Contact
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Terms of Use
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Privacy Policy
        p.small.mb-4.mb-lg-0 &copy; BulletSlides 2020. All Rights Reserved.
      .col-lg-6.h-100.text-center.text-lg-right.my-auto
        ul.list-inline.mb-0
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-facebook.fa-2x.fa-fw
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-twitter-square.fa-2x.fa-fw
          li.list-inline-item
            a(href='#')
              i.fab.fa-instagram.fa-2x.fa-fw


  link(href='./css/style2.css' rel='stylesheet')
// Masthead
// Footer
// Bootstrap core JavaScript
script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
script(type='text/javascript' src='./scripts/dropdown.js')
